@charset "utf-8";

* {
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    overflow-x:hidden; overflow-y:auto;
}

#men {
	
    font-size: 20px;
}

/* #checkid{
	position:relative;
	bottom:31px;
	left:300px;
	height:33px;
	font-size:15px;
	width:40px;
	color:white;
	background-color:transparent;
} */
#woman {
    font-size: 20px;
}

#navmenuwrap{
    border-bottom: 1px solid #ccc;
}
#navmenu {
    margin:0 auto;
    width:1100px;
    height: 50px;
}

#homemenu {
    float: left;
}

#homemenu img {
    position: relative;
    left: 30px;
    top: 10px;
    width: 35px;
}

#fontmenu {
    position: relative;
    left: 60px;
    top: 15px;
    font-weight: bold;
    font-size: 20px;
    float: left;
}

#headerwrap{
    border-bottom: 2px solid black;
}
header {
    margin: 0 auto;
    width: 1100px;
    height: 95px;
}

#headernavwrap{
    border-bottom: none; 
}

#headernav {
    margin: 0 auto;  
    height: 40px;
    width: 1100px;
}

#header2wrap{
    opacity: 0.8;
    background-color: black;
}

#header2 {
    margin: 0 auto;
    width: 1100px;
    height: 130px;
}

#loginfont {
    color: white;
    font-size: 45px;
}

#fontwrap {
    height: 80px;
    position: relative;
    text-align: center;
    top: 30px;
}

#logo {
    font-size: 22px;
    font-weight: bold;
    border: 1px solid black;
    border-bottom: 0px;
    border-left: 8px solid black;
    border-right: 8px solid black;
    border-top: 10px solid black;
    color: black;
    width: 170px;
    padding: 0px 0px 0px 10px;
    position: relative;
    bottom: 30px;
    left: 110px;
}

#logo:active {
    transform: translateY(3px);
}

#login {
    margin-right: 20px;
    border-radius: 10px;
    display: inline;
    color: black;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
}

#login a:hover {
    color: #FA5858;
}

#join a:hover {
    color: #FA5858;
}

#customer a:hover {
    color: #FA5858;
}

#join {
    border-radius: 10px;
    display: inline;
    border: none;
    padding: 10px;
    font-size: 18px;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
}

#customer {
    border-radius: 10px;
    margin-left: 18px;
    color: black;
    border: none;
    padding: 10px;
    font-size: 18px;
    display: inline;
    font-family: 'Noto Sans KR', sans-serif;
}

#right {
    float: right;
    position: relative;
    right: 20px;
    bottom: 65px;
}

#right:active {
    transform: translateY(3px);
}


a {
    color: black;

}


.logo2 a {
    margin-left: 410px;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black;
    border-bottom: 0px;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-top: 11px solid black;
    color: black;
    width: 150px;
    padding: 0px 10px 0px 10px;
}
#player {
    display: inline-block;
    position: relative;
    left: 45px;
    top: 25px;
}

#player img {
    width: 45px;
}

#player:active {
    transform: translateY(3px);
}

nav {
    width: 1100px;
    margin: 0 auto;
    float: none;
    height: 1000px;
    position: relative;
}
#search {
    float: left;
    margin-left: 370px;
    position: relative;
    bottom: 60px;

}

#search input[type=image] {
    position: relative;
    right: 35px;
    bottom:2px;
    width: 25px;
    vertical-align: middle;
}

#search input[type=image]:active {
    transform: translateY(3px);
}

#search input[type=text] {
    width: 300px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 0 10px;
    height: 30px;
    font-size: 15px;
    background-color: transparent;
    box-sizing: border-box;
}

#radioname {
	height:50px;
	
}
input[type=radio] {
    display: none;
}

input[type=radio]+label {
    display: inline-block;
    height: 20px;
    padding: 20px;
    position: relative;
    color: black;
    font-size: 15px;
    cursor: pointer;
}

input[type=radio]:checked+label {


    color: #FA5858;
}

input[id="tab01"]:checked~.con1 {
    display: block;
}

input[id="tab02"]:checked~.con2 {
    display: block;
}

input[id="tab03"]:checked~.con3 {
    display: block;
}

input[id="tab04"]:checked~.con4 {
    display: block;
}

#footerwrap{
    background-color: #F8F8F8;
    opacity: 0.8;
}
footer {
    margin: 0 auto;
    width: 1100px;
    padding-top: 50px;
}

footer ul {
    padding-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

footer li {
    display: inline-block;
    padding: 0px 30px;

}

footer p {
    padding-bottom: 50px;
    text-align: center;
    font-size: 12px;
    color: lightslategray;
    line-height: 22px;
}

input[id="menuicon"] {
    display: none;
}

input[id="menuicon"]+label {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    left: 15px;
    bottom: 218px;
    cursor: pointer;
}

input[id="menuicon"]+label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: black;
    z-index: 1;
    transition: all .35s;
}

input[id="menuicon"]+label span:nth-child(1) {
    top: 0;
}

input[id="menuicon"]+label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

input[id="menuicon"]+label span:nth-child(3) {
    bottom: 0;
}

input[id="menuicon"]:checked+label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked+label span:nth-child(2) {
    opacity: 0;

}

input[id="menuicon"]:checked+label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
    z-index: 2;
    opacity: 0.9;
    width:300px;
    height: 700px;
    background-color: black;
    position: fixed;
    top: 137px;
    left: -300px;
    transition: all .35s;
}

.navi {
    font-size: 13px;
    margin-top: 20px;
    margin-left: 15px;
}


ul.navi>li {
    width: 250px;
    padding: 10px;
    position: relative;
}

ul.navi>li>a {
    color: darkorange;
    font-size: 16px;
}

ul.navi ul>li>a {
    color: white;
    margin-left: 10px;
}

ul.navi ul>li>a:hover{
	color:red;
}

input[id="menuicon"]:checked+label+div {
    left: 0;
}

.container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.login-wrapper {
    width: 400px;
    box-sizing: border-box;
}

.login-content>div {
    margin: 10px 0;
    box-sizing: border-box;
}

.login-content input {
    width: 100%;
    box-sizing: border-box;
}

.login-content input[type="submit"] {
    background-color: #585858;
    color: white;
    font-weight: 900;
    box-sizing: border-box;
}

.login-title {
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
}

#id,
#pw,
#loginBtn {
    box-sizing: border-box;
    font-size: 20px;
    padding: 15px;
    border-radius: 8px;
}

#loginBtnnaver {
    box-sizing: border-box;
    font-size: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: rgba(0, 255, 0, 0.9);
}

#loginBtngoogle {
    box-sizing: border-box;
    font-size: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #2E2EFE;
}

.allcontainer>div {
    box-sizing: border-box;
    padding: 3px;
}

#iddiv{
	height:30px;
	
}

}

form {
    margin-top: 50px;
}

.container {
    height: 800px;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 600px;
   
}

.content div {
    flex: 1 1 300px;
}

.content div:nth-child(4),
.content div:nth-child(7),
.content div:nth-child(10),
.content div:nth-child(13),
.content div:nth-child(16),
.content div:nth-child(19) {
    border: 1px solid gray;
    padding: 1px;
    padding-left: 10px;
    background-color: white;
    border-radius: 5px;
}

#region{
	 border: 1px solid gray;
	padding-left:10px;
	width:300px;
	height:30px;
	border-radius:5px;
}

.join-title {
    position: relative;
    bottom: 50px;
    text-align: center;
}

input {
    width: 250px;
    border: none;
    font-size: 15px;
}

input[type=radio] {
    width: auto;

}

.errmsg {
    color: red;
    font-size: 0.7rem;
    font-weight: bold;
}

button,
select {
    width: 290px;
    border: none;
}

select {
    width: 270px;
    border: none;
}

#id {
    display: inline-block;
    height: 30px;
    font-size: 15px;
}

#pw {
    height: 30px;
    font-size: 15px;
}

#joinBtn {
    background-color: gray;
    color: white;
    font-weight: 900;
    border: 1px solid gray;
    padding: 5px;
    height: 30px;
}

i {
    padding: 5px 4px;

}

label {
    vertical-align: top;
}

.container1 {
    height: 700px;
    
    margin-top: 50px;
    text-align: center;
    float: left;
    width: 500px;
    border-right: 1px solid #CCC;
}

#bp {
    margin-left: 10px;
    font-size: 18px;
}

.container1 span {
    font-size: 30px;
    font-weight: bold;

}


.file_input {
    margin-top: 30px;
    margin-left: 100px;
    width: 290px;
		height:150px;
}
.img_wrap{
	 height:500px;
}

.img_wrap img {
    margin-top: 50px;
    height:400px;
    width: 300px;
}

.file_input img {

    width: 100px;
}

.file_input label {
    position:relative;
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
    overflow:hidden;
    width:80px;
    height:30px;
    background:#777;
    color:#fff;
    text-align:center;
    line-height:30px;
}
.file_input label input {
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
}
.file_input input[type=text] {
    vertical-align:middle;
    display:inline-block;
    width:200px;
    height:28px;
    line-height:28px;
    font-size:11px;
    padding:0;
    border:0;
    border:1px solid #777;
}

.allcontainer {
    background-color: #F5F6F7;
    margin: 0 auto;
    width: 1100px;
    border: 1px solid #CCC;
    height: 900px;

}

b {
    color: red;
}

.join-bottom {
    position: relative;
    bottom: 20px;
}


@media screen and (min-width:320px) and (max-width:767px) {
    header {
        width: 320px;
    }

    #navmenu{
        position: relative;
        right:90px;
        width:320px;
    }
    
    #iddiv{
    	width:290px;
    	
    }
    
    /* #checkid{
    
    	position:relative;
    	left:255px;
    } */

    #headernav {
        display: none;
    }

    .container1 {
        display: none;
    }

    div #id {
        height: 10px;
        font-size: 15px;
    }

    div #pw {
        font-size: 15px;
        height: 10px;
    }

    .allcontainer {
        margin-right: 50px;
        width: 320px;
    }

    #header2 {
       
        width: 320px;
        height: 100px;
    }

    #loginfont {
        position: relative;
        right: 5px;
    }

    #fontwrap {
        position: relative;
        left: 10px;
        text-align: center;
        top: 20px;
    }

    #logo {
        font-size: 15px;
        width: 120px;
        position: relative;
        bottom: 10px;
    }

    #login {
        border-radius: 10px;
        padding: 3px;
        font-size: 10px;
    }

    #join {
        padding: 3px;
        font-size: 10px;
    }

    #customer {
        padding: 3px;
        font-size: 10px;
    }

    #right {
        position: relative;
        right:60px;
        bottom: 30px;
    }

    .logo2 a {
        margin-left: 100px;
        font-size: 15px;
    }

    #player {
        position: relative;
        left: 70px;
        top: 30px;
    }

    #player img {
        width: 30px;
    }

    nav {
        height: 1000px;
        width: 320px;
        position: relative;
    }

    #search {
        display: none;
    }

    footer {
        width: 320px;
        padding-top: 50px;
    }

    footer ul {
        font-size:12px;
    }

    footer ul li {
        padding:10px;
    }

    footer p {
        font-size: 10px;
    }

    input[id="menuicon"]+label {
        width: 20px;
        height: 20px;
        position: relative;
        bottom: 220px;
    }

    div[class="sidebar"] {
        width: 200px;
        height: 700px;
        position: fixed;
        top: 100px;
    }

    .navi {
        font-size: 10px;
    }

    ul.navi>li>a {
        font-size: 15px;
    }

    .login-wrapper {
        width: 330px;
    }

    #loginBtnnaver {
        height: 55px;
    }

    #loginBtngoogle {
        height: 55px;
        padding: 15px;
    }
}



@media screen and (min-width:768px) and (max-width:1099px) {
    #navmenu{
        width:643px;
    }

    header {
        width: 768px;
        height: 100px;
    }

    #headernav {
        position: relative;
        top:22px;
        left:20px;
        width:768px;
    }

    .container1 {
        display: none;
    }

    .allcontainer {
        width: 500px;
    }

    #header2 {
        width: 768px;
        height: 100px;
    }

    #loginfont {
        position: relative;
        right: 5px;
    }

    #logo {
        font-size: 20px;
        width: 155px;
        position: relative;
        left: 120px;
        bottom: 15px;
    }

    #login {
        padding: 5px;
        font-size: 15px;
    }

    #join {
        padding: 5px;
        font-size: 15px;
    }

    #customer {
        padding: 5px;
        font-size: 15px;
    }

    #right {
        position: relative;
        bottom: 45px;
    }

    .logo2 a {
        margin-left: 280px;
        font-size: 20px;
        width: 160px;
    }

    #player {
        position: relative;
        left: 75px;
        top: 30px;
    }

    #player img {
        width: 35px;
    }

    nav {
        height: 1000px;
        width: 768px;
    }

    #search {
        display: none;
    }

    footer {
        width: 768px;
    }

    input[id="menuicon"]+label {
        width: 20px;
        height: 20px;
        position: relative;
        left: 15px;
        bottom: 185px;
    }


    div[class="sidebar"] {
        width: 200px;
        height: 700px;
        position: fixed;
        top: 100px;
    }

    .navi {
        font-size: 12px;
    }
    
    ul.navi>li>a {
    	font-size:14px;
    }
}


